.header {
  .navbar-branding {
    color: #08119b !important;
  }
  button {
    width: 150px;
    border: none;
  }
  .free-trial-btn {
    margin-right: 1rem;
    background-color: #08119b !important;
  }
  .login-btn {
    background-color: orange;
  }
}
